<a href="https://colab.research.google.com/github/anhduc02/anhduc02/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [ ]:
S = pd.Series(np.random.randint(100,size = 10))
S

0    82
1    38
2    28
3    83
4    28
5    80
6    95
7    42
8    80
9    28
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [ ]:
  dict_1 = {'tên':'anh duc ', 'tuổi': 19, 'công việc': 'sinh viên', 'lương': '9999999 USD', 'đi xe': 'Audi'}
D = pd.Series(dict_1)
D

tên             anh duc
tuổi                  19
công việc      sinh viên
lương        9999999 USD
đi xe               Audi
dtype: object

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [ ]:
S_id = []
z=1
for i in S.index:
    S_id.append(f'giá trị thứ {z}')
    z+=1
S_2 = pd.Series(S.values, index=S_id)
S_2

giá trị thứ 1     82
giá trị thứ 2     38
giá trị thứ 3     28
giá trị thứ 4     83
giá trị thứ 5     28
giá trị thứ 6     80
giá trị thứ 7     95
giá trị thứ 8     42
giá trị thứ 9     80
giá trị thứ 10    28
dtype: int64

  Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [ ]:
print(D[4])

Audi

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [ ]:
print(S_2['giá trị thứ 1'])

82

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [ ]:
S_2[[(name.endswith('1') or name.endswith('0'))for name in S_2.index]]

giá trị thứ 1     82
giá trị thứ 10    28
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [ ]:
S.index.name = 'STT'
S.name = 'Gia_tri'
S

STT
0    82
1    38
2    28
3    83
4    28
5    80
6    95
7    42
8    80
9    28
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [ ]:
S_log = pd.Series([np.log(gt) for gt in S.values])
S_log.name = 'logarith'
S_log

0    4.406719
1    3.637586
2    3.332205
3    4.418841
4    3.332205
5    4.382027
6    4.553877
7    3.737670
8    4.382027
9    3.332205
Name: logarith, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [ ]:
S[S>15]

STT
0    82
1    38
2    28
3    83
4    28
5    80
6    95
7    42
8    80
9    28
Name: Gia_tri, dtype: int64